div.slam-ask-about button.dialog-button {
  padding: 3px;
  margin: 1px;
}

div.slam-ask-about button.dialog-button img.slam-button-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

article.slam-scroll {
  max-width: 500px;
  padding: 10%;
  margin: 20px;
  background-color: #EAEBE1;
  text-align: center;
  position: relative;
}

article.slam-scroll h1 {
  font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
  border-bottom: 2px solid black;
}

span.slam-reference {
  font-weight: bold;
  font-style: italic;
}

.slam-smaller .dice-roll .dice-total {
  font-size: var(--font-size-20);
  padding: 0;
}

.slam-smaller .dnd5e2 button {
  font-size: var(--font-size-10);
  padding: 0;
}

.slam-smaller .tooltip-part .dice {
  font-size: var(--font-size-10);
}
